        h2 {
            text-align: center;
            color: #fafafa;
            font-size: 30px;
        }
        
        form {
            margin: 10px 130px;
            border-radius: 25px;
        }
        
        input {
            width: 500px;
            height: 40px;
            border-radius: 25px;
            text-align: center;
        }
        
        .hint {
            text-align: center;
            color: #2CB5E4;
            font-weight: bold;
            margin: 10px;
            /*margin-right: 20px;*/
        }