        h2 {
            text-align: center;
            color: #fafafa;
            font-size: 30px;
        }
        
        form {
            margin: 20px 300px;
            width: 400px;
            border-radius: 25px;
        }
        
        .hint {
            text-align: center;
            color: #2CB5E4;
            font-weight: bold;
            /*margin-right: 20px;*/
        }