    .Meaning {
        text-align: center;
        color: #fafafa;
    }
    
    p {
        font-size: 12px;
        font-weight: thin;
    }
    
    .definition {
        font-size: 15px;
        margin-top: 5px;
    }
    
    .definition span {
        font-size: 15px;
        margin-top: 5px;
        font-weight: bold;
        margin-top: 5px;
        color: #2CB5E4;
    }
    /*.synonyms {
        border: 2px solid #ffffff;
    }*/
    
    .word {
        color: #2CB5E4;
        font-weight: bold;
    }