        ul {
            display: block;
            list-style: none;
            color: #EA9BDF;
            font-weight: bold;
            margin: 0 auto;
            margin-left: -40px;
        }
        
        li {
            align-items: center;
        }
        /*.syn {
    max-width: 300px;
}*/